<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/vendor/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <link href="/assets/vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/main.css" rel="stylesheet">
    <title>Home|nhasan</title>
</head>

<body>
    <%- include('../shared/layouts/header.html.ejs', { data: data }) %>
    <main>
        <div class="row p-3 mt-5">
            <!-- div for profile image and intro: start -->
            <div class="col-4">
                <div class="row profile-image">
                    <div class="col">
                        <img src="assets/images/avater.jpg" alt="" srcset="" width="400" height="400">
                    </div>
                </div>
                <div class="row intro">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <span class="home-name">Nahid Hasan Khan</span> <br>
                                <span>Email: nhasan.uoit@gmail.com | nahidcit@iut-dhaka.edu</span> <br>
                                <span>Phone: +1(905)-922-33XX</span> <br>
                                <span>Location: Oshawa, ON, Canada</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- div for profile image and intro: end -->

            <!-- div for profile information: start -->
            <div class="col-8">
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header fw-bolder">
                              Headline
                            </div>
                            <div class="card-body">
                                <span>Backend Engineer | Software Developer | Java, Ruby, C/C++, Python, JavaScript, PHP programmer</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header fw-bolder">
                              Career Interest
                            </div>
                            <div class="card-body">
                                <span>Software Engineering, Data Engineering, Machine Learning</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header fw-bolder">
                              Educational Background
                            </div>
                            <div class="card-body">
                                <!-- education 1: start -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">MASc in Electrical Computer & Software Engineering</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">University Ontario Institute of Technology (UOIT), ON, Canada</h6>
                                        <p class="card-text">Year: 2020 - 2021</p>
                                    </div>
                                </div>

                                <!-- education 2: start -->
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title">BSc in Computer Science & Engineering</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Islamic University of Technology (IUT), Dhaka, Bangladesh</h6>
                                        <p class="card-text">Year: 2010 - 2013</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header fw-bolder">
                              Professional Experience
                            </div>
                            <div class="card-body">
                                <!-- experience 1: start -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Full Stack Software Developer (Hybrid, Fulltime)</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">The Urban Writers, Oakville, ON, Canada</h6>
                                        <p class="card-text">
                                            Enhanced core features of their in-house platform. Completed few sub-projects including a) managed services b) freelancer application platform and onboarding process. Additionally, enhanced some of the analytics pages of the platform. <br>
                                            Primary roles: <br>
                                            Requirement analysis, product development, designing schema and database query optimization, designing systems and system models, writing test codes, code reviewing, discussion and analysis regarding pull requests, daily team meeting and discussions over tasks, direct communication with the different stack holders.
                                        </p>
                                        <a href="https://www.theurbanwriters.com" class="card-link">The Urban Writers</a>
                                    </div>
                                </div>

                                <!-- experience 2: start -->
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Software Engineer (Remote, Part-time)</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Misfit Technologies, Dhaka, Bangladesh</h6>
                                        <p class="card-text">
                                            Completed a full admin section of a comprehensive e-commerce solution called shopoth.com. Moreoever, completed a medium sized application leading a small team. <br>
                                            Primary roles: <br>
                                            Requirement analysis, product development, designing schema and database query optimization, designing systems and system models, writing test codes, code reviewing, discussion and analysis regarding pull requests, daily team meeting and discussions over tasks, direct communication with the different stack holders, leading small teams.
                                        </p>
                                        <a href="https://misfit.tech" class="card-link">Misfit Technologies</a>
                                    </div>
                                </div>

                                <!-- experience 2: start -->
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Software Engineer (On-site, Fulltime)</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Nascenia, Dhaka, Bangladesh</h6>
                                        <p class="card-text">
                                            Joined this company as a fresh graduate and was promoted to software engineer from a junior position. 
                                            My attachment with this compnay assists me to learn and grow simultaneously.
                                            With this involvement achieved to finish couple of projects including, Adrevenue: a platform that collects social media data and perform analytics on them, Horsecount : a platform that assists managing horse farms. BrokerPro : a transporation management platform that helps connect customers with the freight carriers. <br>
                                            Primary roles: <br>
                                            Requirement analysis, product development, designing schema, designing systems and system models, writing test codes, creating pull requests, daily team meeting and discussions over tasks, direct communication with the different stack holders.
                                        </p>
                                        <a href="https://www.nascenia.com" class="card-link">Nascenia</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- div for profile information: end -->

        </div>
    </main>
    <!-- main body: end -->

    <!-- footer: start -->
    <%- include('../shared/layouts/footer.html.ejs')%>
    <!-- footer: end -->
</body>
</html>