<footer class="footer" style="background-color: #f5f5f5;">
    <div class="row" style="height: 50px;">
        <div class="col text-center" style="margin-top: 15px;">
            <span>Copyright &copy; Nahid Hasan Khan <%= new Date().getFullYear() %></span>
        </div>
    </div>
</footer>